@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: #444444;
  background-color: #ffffff;
}

.container {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.general-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 0;
}

.general-hover:hover {
  opacity: 0.6;
}

.general-hover:active {
  opacity: 0.3;
}

.general-focus:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.link-spacing-font {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.2em;
  font-style: normal;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

/* Making sticky footer */
.main-index,
.main-inner {
  flex-grow: 1;
}

.main-inner {
  margin: 0;
  padding: 0;
}

.button {
  position: relative;
  padding: 10px 17px;
  display: inline-flex;
  z-index: 1;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.button::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(0.2);
  transition: transform 0.3s ease;
  background-color: #ffe17f;
  z-index: -1;
}

.button:hover::before {
  transform: translate(-50%, -50%) scaleY(1);
}

.button:active::before {
  transform: translate(-50%, -50%) scaleY(1);
  background-color: #ffcc33;
}

.button:focus-visible {
  outline: 2px solid #af4fff;
}

.button:disabled {
  pointer-events: none;
  opacity: 0.3;
}

/* Header */
.page-header {
  padding: 20px 60px 0 60px;
  background: linear-gradient(#ffffff 40px, #ffe17f 40px);
}

.main-logo-link {
  display: inline-flex;
  margin-bottom: 30px;
}

.first-header-line {
  padding: 0;
  margin: 0 0 30px 0;
  display: grid;
  grid-template-columns: auto 1fr;
}

.main-searching-form {
  max-width: 540px;
  margin: 0 26px 0 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr auto;
}

.main-search-label {
  position: relative;
  z-index: 1;
}

.main-search-input {
  position: relative;
  min-width: 357px;
  height: 100%;
  border: 2px solid #000000;
  border-radius: 50px 0 0 50px;
  margin: 0 -2px 0 0;
  padding: 8px 46px;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: rgba(255, 255, 255, 0);
  z-index: 2;
}

.main-search-input::placeholder {
  opacity: 0.3;
}

.main-search-text {
  height: 100%;
}

.main-search-text::before {
  content: "";
  position: absolute;
  width: 357px;
  height: 100%;
  top: 0;
  left: 0;
  border: none;
}

.main-search-text::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  background-image: url("..//images/logo/search-icon.svg");
  background-repeat: no-repeat;
}

.main-search-input:focus-visible {
  outline: none;
}

.main-search-input:focus-visible + .main-search-text::before {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.searching-button {
  position: relative;
  margin: 0;
  padding: 8px 54px;
  min-width: 160px;
  border: 2px solid #000000;
  border-radius: 0 50px 50px 0;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  font-family: inherit;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  z-index: 1;
}

.searching-button::before {
  content: "";
  position: absolute;
  height: calc(100% + 4px);
  width: calc(100% + 4px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  z-index: -1;
}

.searching-button:hover {
  background-color: #000000;
  color: #ffffff;
}

.searching-button:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
}

.searching-button:focus-visible {
  outline: none;
}

.searching-button:focus-visible::before {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.searching-button:disabled {
  opacity: 0.3;
}

.navigation-personal {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.navigation-personal-link {
  position: relative;
  margin: 0;
  padding: 0;
  color: #000000;
  text-decoration: none;
  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
  display: block;
}

.login,
.logout {
  margin: 0 auto 0 0;
  max-width: 90px;
}

.profile {
  margin: 0 15px 0 0;
  max-width: 155px;
}

.compare {
  margin: 0 10px 0 0;
  max-width: 115px;
}

.login .navigation-personal-link,
.profile .navigation-personal-link {
  padding: 5px 8px 5px 27px;
}

.login .navigation-personal-link::before,
.profile .navigation-personal-link::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 12px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-image: url("../images/logo/login-icon.svg");
  background-repeat: no-repeat;
}

.logout .navigation-personal-link {
  opacity: 0.3;
  padding: 5px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}

.compare .navigation-personal-link {
  padding: 5px 8px 5px 22px;
}

.compare .navigation-personal-link::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 12px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-image: url("../images/logo/compare-icon.svg");
  background-repeat: no-repeat;
}

.cart {
  position: relative;
  max-width: 115px;
}

.cart .navigation-personal-link {
  padding: 5px 0 5px 43px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  cursor: pointer;
}

.cart .navigation-personal-link::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 14px;
  top: calc(50% - 2px);
  left: 15px;
  transform: translateY(-50%);
  background-image: url("../images/logo/cart-icon.svg");
  background-repeat: no-repeat;
}

.cart .navigation-personal-link::after {
  content: attr(data-counter);
  position: absolute;
  display: flex;
  min-width: 21px;
  height: 21px;
  padding: 2px;
  top: 50%;
  left: 0;
  color: #000000;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  background-color: #ffffff;
  border-radius: 50%;
  z-index: 1;
}

.cart-popup {
  display: none;
  position: absolute;
  top: calc(100% + 1px);
  left: -133px;
  width: 320px;
  height: auto;
  background-color: #000000;
  z-index: 5;
}

.cart:focus-within .cart-popup {
  display: block;
  margin: 0;
  padding: 0;
}

.cart-popup::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 50%;
  width: 14px;
  height: 6px;
  background-image: url("../images/logo/tooltip-arrow.svg");
  background-repeat: no-repeat;
}

.cart-list-item:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.cart-list-item {
  padding: 20px;
  display: flex;
}

.cart-item-link {
  display: flex;
  text-decoration: none;
  margin-right: 25px;
}

.cart-item-text {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  padding: 0 10px 0 23px;
  margin: 0 auto 0 0;
}

.cart-delete-item {
  position: relative;
  width: 12px;
  height: 12px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}

.cart-delete-item::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 10px;
  width: 10px;
  background-image: url("../images/product-catalog/cart-item-delete.svg");
  background-repeat: no-repeat;
}

.cart-delete-item:focus-visible {
  outline: none;
}

.cart-delete-item:focus-visible::after {
  content: "";
  position: absolute;
  right: -4px;
  top: -4px;
  height: 18px;
  width: 18px;
  border: 2px solid #af4fff;
}

.cart-total-sum {
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;
  background-color: rgba(255, 255, 255, 0.1);
}

.cart-items-total,
.cart-sum-total {
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
}

.cart-items-total {
  margin-right: 10px;
}

.open-cart-block {
  padding: 20px;
}

.open-cart-link {
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.open-cart-link:hover {
  background-color: #ffe17f;
}

.open-cart-link:active {
  background-color: #ffe17f;
  color: rgba(0, 0, 0, 0.3);
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.subcatalog-open {
  position: relative;
  display: flex;
  min-width: 293px;
  margin: 0 auto 0 0;
  padding: 15px 67px 15px 0;
  justify-content: flex-start;
  align-items: flex-start;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  z-index: 4;
}

.subcatalog-open-icon {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 2px solid #000000;
  border-radius: 50%;
  opacity: 0.3;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.subcatalog-open-icon::before,
.subcatalog-open-icon::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 2px;
  background-color: #000000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.subcatalog-open-icon::after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.navigation-subcatalog:focus-within .subcatalog-open-icon::after {
  transform: translate(-50%, -50%) rotate(0);
}

.subcatalog-open:hover .subcatalog-open-icon {
  opacity: 1;
}

.subcatalog-list {
  position: absolute;
  gap: 18px 30px;
  grid-template-columns: 222px 181px auto;/*
  grid-auto-flow: row dense; */
  padding: 16px 60px 57px 60px;
  width: calc(100% + 120px);
  left: -60px;
  z-index: 3;
  background-color: #ffe17f;
  display: none;
}

.navigation-subcatalog:focus-within .subcatalog-list {
  display: grid;
}

.action-cam {
  grid-row: 3 / 4;
}

.subcatalog-link {
  position: relative;
  padding: 5px 5px 5px 0;
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
}

.subcatalog-link:focus-visible {
  outline: none;
}

.subcatalog-link:focus-visible::before {
  content: "";
  position: absolute;
  height: 28px;
  width: calc(100% + 4px);
  top: 50%;
  left: -4px;
  transform: translateY(-50%);
  border: 2px solid #af4fff;
}

.subcatalog-link.active-link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.subcatalog-link.active-link:focus-visible::before {
  height: 31px;
}

.navigation-list {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 0 45px;
}

.navigation-list-link {
  position: relative;
  display: inline-flex;
  margin: 0;
  padding: 15px 0;
}

.navigation-list-link.active-link {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
}

.navigation-list-link:focus-visible {
  outline: none;
}

.navigation-list-link:focus-visible::before {
  content: "";
  position: absolute;
  height: 29px;
  width: calc(100% + 4px);
  top: 50%;
  left: -4px;
  transform: translateY(-50%);
  border: 2px solid #af4fff;
}

.navigation-list-link.active-link:focus-visible::before {
  height: 35px;
  top: calc(50% + 2px);
}

/* Main-index */

.main-index {
  margin: 0;
  padding: 0;
  display: grid;
  gap: 70px;
}

.product-slider {
  position: relative;
  background: linear-gradient(#ffe17f 134px, #ffffff 134px);
}

.product-slider-control {
  position: absolute;
  top: 195px;
  left: 30px;
  width: 530px;
  display: flex;
  justify-content: space-between;
}

.product-slider-button {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  height: 60px;
  width: 20px;
  background-image: url("../images/logo/left-arrow.svg");
  background-repeat: no-repeat;
  background-size: 20px 60px;
  cursor: pointer;
}

.slider-next {
  transform: rotate(180deg);
}

.product-slider-button:disabled {
  opacity: 0.1;
}

.product-slider-item {
  display: grid;
  gap: 40px;
  grid-template-columns: auto 1fr;
}

.product-slider-image {
  margin-top: -16px;
  margin-bottom: -38px;
}

.product-description-section {
  position: relative;
  padding: 105px 0 26px 0;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 2;
}

.product-title {
  margin: 0 0 29px 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.product-text {
  padding: 0;
  margin: 0 0 50px 0;
  font-size: 18px;
  line-height: 30px;
}

.product-description-list {
  display: grid;
  width: 100%;
  gap: 12px 20px;
  grid-template-columns: auto auto 1fr;
}

.product-description-category {
  display: grid;
  row-gap: 12px;
}

.product-description {
  order: 1;
}

.slider-pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.slider-pagination-item {
  margin: 0 20px -6px 0;
  counter-increment: slider;
}

.slider-pagination-item:last-child {
  margin-right: 0;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.slider-pagination-button:hover {
  background-color: rgba(0, 0, 0, 0.6);
  border-color: rgba(0, 0, 0, 0)
}

.slider-pagination-button:active {
  background-color: rgba(0, 0, 0, 0.3);
  border-color: rgba(0, 0, 0, 0)
}

.slider-pagination-button:focus-visible {
  outline: none;
}

.slider-pagination-button-current {
  background-color: #000000;
}

.slider-pagination-button-current::before {
  content: counter(slider, decimal-leading-zero);
  position: absolute;
  top: 13px;
  right: 49px;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 180px;
  line-height: 135px;
  color: #ffffff;
  z-index: 1;
}


.slider-pagination-button::after {
  content: "";
  position: relative;
  top: -4px;
  right: 4px;
  width: 16px;
  height: 16px;
  display: block;
}

.slider-pagination-button:focus-visible::after {
  outline: 2px solid #af4fff;
}

.tab-description-text,
.about-us-text,
.main-contact-text {
  margin: 0;
  padding: 0;
}

.product-details {
  margin-bottom: 50px;
  padding: 10px 37px;
}

.product-details.button::before {
  width: 100%;
}

.product-description {
  font-size: 16px;
  line-height: 30px;
}

.product-description-detals {
  font-size: 36px;
  line-height: 30px;
  color: #000000;
  margin: 0;
  padding: 0;
}

.subsection-list {
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 0;
}

.subsection-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
  text-decoration: none;
  display: block;
  padding: 192px 0 12px 0;
  position: relative;
}

.subsection-link::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background-color: #ffe17f;
  width: 160px;
  height: 160px;
}

.subsection-link:hover::before {
  background-color: #ffc700;
}

.sub-virtuality::after {
  position: absolute;
  content: "";
  top: 1px;
  left: 0;
  background-image: url("../images/subcatalog/virtuality.svg");
  background-repeat: no-repeat;
  width: 160px;
  height: 160px;
  z-index: 1;
}

.sub-selfie::after {
  position: absolute;
  content: "";
  top: 1px;
  left: 0;
  background-image: url("../images/subcatalog/selfie-stick.svg");
  background-repeat: no-repeat;
  width: 160px;
  height: 160px;
  z-index: 1;
}

.sub-actioncam::after {
  position: absolute;
  content: "";
  top: 1px;
  left: 0;
  background-image: url("../images/subcatalog/action-camera.svg");
  background-repeat: no-repeat;
  width: 160px;
  height: 160px;
  z-index: 1;
}

.sub-wristband::after {
  position: absolute;
  content: "";
  top: 1px;
  left: 0;
  background-image: url("../images/subcatalog/fitness-wristband.svg");
  background-repeat: no-repeat;
  width: 160px;
  height: 160px;
  z-index: 1;
}

.sub-smartwatch::after {
  position: absolute;
  content: "";
  top: 1px;
  left: 0;
  background-image: url("../images/subcatalog/smart-watch.svg");
  background-repeat: no-repeat;
  width: 160px;
  height: 160px;
  z-index: 1;
}

.sub-drone::after {
  position: absolute;
  content: "";
  top: 1px;
  left: 0;
  background-image: url("../images/subcatalog/drone.svg");
  background-repeat: no-repeat;
  width: 160px;
  height: 160px;
  z-index: 1;
}

.tab-service {
  background: linear-gradient(#ffffff 105px, #f0f0f0 105px);
}

.tab-service .container {
  display: grid;
  grid-template-columns: 280px 1fr;
  padding-bottom: 72px;
}

.tab-service-navigation {
  display: grid;
  gap: 35px;
  padding: 65px 0;
  position: relative;
}

.tab-service-navigation::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 7px;
  background-color: #000000;
  right: -7px;
  top: 0;
}

.tab-service-button {
  margin: 0;
  width: 160px;
  justify-content: center;
}

.tab-service-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 280px;
  background-color: #000000;
  visibility: hidden;
  z-index: -1;
}

.tab-service-button-current {
  color: #ffe17f;
  transition: 0.5s ease;
}

.tab-service-button-current:hover,
.tab-service-button-current:active,
.tab-service-button-current:focus-visible {
  width: 210px;
}

.tab-service-button-current:focus-visible {
  outline: none;
}

.tab-service-button-current:focus-visible::after {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.tab-service-button-current::after {
  visibility: visible;
}

.tab-description-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 50px 275px 50px 123px;
  height: 100%;
}

.delivery {
  background-image: url("..//images/logo/delivery-logo.svg");
  background-repeat: no-repeat;
  background-size: 136px 165px;
  background-position: 681px 50%;
}

.warranty {
  background-image: url("..//images/logo/warranty-logo.svg");
  background-repeat: no-repeat;
  background-size: 171px 195px;
  background-position: 681px 50%;
}

.credit {
  background-image: url("..//images/logo/credit-logo.svg");
  background-repeat: no-repeat;
  background-size: 156px 189px;
  background-position: 681px 50%;
}

.tab-description-title {
  margin: 0 0 34px 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.tab-description-text {
  font-size: 18px;
  line-height: 30px;
}

.rare-product-delivery {
  position: relative;
  display: block;
  padding: 40px 150px;
  text-align: center;
  font-size: 20px;
  background-color: #f0f0f0;
}

.rare-product-delivery-circle {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  transform: translateY(-50%);
  right: 43px;
  border-radius: 50%;
  background-color: rgba(220, 220, 220, 0.5);
}

.rare-product-delivery::before {
  content: "";
  position: absolute;
  width: 125px;
  height: 100px;
  top: 0;
  left: 0;
  background-color: #ffe17f;
  background-image: url("..//images/logo/delivery-icon.svg");
  background-position: 50%;
  background-size: 47px 32px;
  background-repeat: no-repeat;
}

.rare-product-delivery::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  transform: translateY(-50%);
  right: 43px;
  background-image: url("..//images/logo/delivery-icon-i.svg");
  background-size: 4px 12px;
  background-position: 50%;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.rare-product-delivery:hover::before,
.rare-product-delivery:active::before {
  background-color: #ffc700;
}

.rare-product-delivery:hover::after,
.rare-product-delivery:active::after {
  opacity: 1;
}

.rare-product-delivery:active {
  opacity: 0.3;
}

.about-contact {
  display: grid;
  gap: 96px;
  grid-template-columns: 1fr 1fr;
  align-items: start;
}

.about-us,
.main-contact {
  margin: 0;
  display: grid;
  gap: 30px;
  position: relative;
}

.about-us {
  padding: 47px 40px 0 0;
}

.main-contact {
  padding: 47px 15px 0 0;
}

.about-us::before,
.main-contact::before {
  content: "";
  position: absolute;
  height: 7px;
  width: 84px;
  top: 0;
  left: 0;
  background-color: #000000;
}

.about-us-title,
.main-contact-title {
  margin: 0 0 18px 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.about-us-text,
.main-contact-text,
.main-contact-adress-text {
  margin: 0;
  padding: 0;
  color: #444444;
  font-size: 18px;
  line-height: 30px;
}

.transport-company-list {
  display: grid;
  gap: 19px;
  margin: 0;
  padding: 0;
}

.transport-company-item {
  position: relative;
  padding-left: 36px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.transport-company-item::before {
  content: "";
  position: absolute;
  height: 8px;
  width: 8px;
  top: 50%;
  left: 2px;
  border-radius: 50%;
  transform: translateY(-50%);
  background-color: #ffc700;
}

.about-us-link,
.contact-link {
  margin-right: auto;
}

.about-us-link {
  padding: 10px 22px;
}

.contact-link {
  padding: 10px 32px;
}

.main-contact-adress {
  margin: 0;
  padding: 0;
  font-style: normal;
}

.main-contacts-phone {
  text-decoration: underline;
  color: #444444;
  font-size: 18px;
  line-height: 30px;
}

.main-contact-subtitle {
  margin: 0 0 15px 0;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.main-contacts-schedule-item {
  color: #444444;
  font-size: 18px;
  line-height: 30px;
}

.subscribe {
  background-color: #f0f0f0;
}

.subscribe .container {
  padding: 65px 0 55px 0;
  display: grid;
  gap: 144px;
}

.subscribe-description {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

.subscribe-title {
  margin: 0 auto 0 0;
  padding: 0 40px 0 7px;
  max-width: 560px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.subscribe-text {
  margin: 0;
  padding: 0 25px 0 7px;
  width: 560px;
  font-size: 18px;
  line-height: 30px;
}

.subscribe-introduce {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1px;
}

.subscribe-form {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr auto;
}

.subscribe-field {
  position: relative;
  width: 557px;
  padding: 13px 16px 11px 16px;
  margin: 0;
  height: 100%;
  border: none;
  border-bottom: 3px solid #c4c4c4;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color:#444444;
  background-color: rgba(255, 255, 255, 0);
}

.subscribe-field-error {
  border-bottom: 3px solid #ff3d3d;
}

.subscribe-field::placeholder {
  opacity: 0.5;
}

.subscribe-field:hover {
  background-color: #dcdcdc;
}

.subscribe-field:focus-visible {
  outline: none;
  background-color: #dcdcdc;
}

.subscribe-button {
  position: relative;
  padding: 15px 36px;
  margin: 0;
  line-height: 21px;
  max-width: 400px;
  background-color: rgba(255, 255, 255, 0);
  border: 3px solid #c4c4c4;
  z-index: 1;
}

.subscribe-button:hover {
  background-color: #000000;
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0);
}

.subscribe-button:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0);
}

.subscribe-button:disabled {
  opacity: 0.3;
}

.subscribe-text-free {
  position: relative;
  font-size: 18px;
  line-height: 30px;
  padding-left: 32px;
}

.subscribe-text-free::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-image: url("..//images/logo/its-free.svg");
  background-repeat: no-repeat;
}


/* Catalog */
.inner-header-title {
  margin: 0;
  padding: 55px 0 16px 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.inner-header {
  padding: 0 0 34px 60px;
  background: linear-gradient(#ffe17f 20px, #ffffff 20px);
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 36px;
  position: relative;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  cursor: pointer;
  text-decoration: none;
}

.breadcrumbs-item:not(:last-child)::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -16px;
  transform: translate(50%, -50%);
  opacity: 0.2;
  width: 4px;
  height: 7px;
  background-image: url("../images/logo/nav-arrow.svg");
  background-repeat: no-repeat;
}

.catalog-products {
  background-color: #f0f0f0;
}

.catalog-products .container {
  display: flex;
  padding-left: 60px;
}

.catalog-filter {
  display: grid;
  gap: 35px;
  margin: 0;
  padding: 0 40px 0 0;
  grid-template-columns: 220px;
  align-self: self-start;
}

.catalog-filter-group {
  border: none;
  padding: 0;
  margin: 0;
}

.catalog-filter-text,
.catalog-sorting-text {
  margin: 0;
  font-size: 16px;
  cursor: default;
}

.catalog-filter-text {
  padding: 25px 0;
}

.catalog-filter-title {
  margin: 0;
  padding: 12px 0 20px 0;
  width: 200px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  position: relative;
}

.catalog-filter-title::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 2px;
  background-color: #000000;
  top: 0;
  left: 0;
  transform: translateY(-50%);
}

.range {
  padding-top: 10px;
}

.range-scale {
  position: relative;
  height: 2px;
  background-color: #dcdcdc;
  margin-bottom: 12px;
  width: 200px;
}

.range-bar {
  position: absolute;
  height: 2px;
  width: 120px;
  background-color: #000000;
}

.range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #ebebeb;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle:hover {
  opacity: 0.5;
}

.range-toggle:active {
  background-color: #000000;
}

.range-toggle:focus-visible {
  outline: none;
}

.range-toggle:focus-visible::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 18px;
  height: 18px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.toggle-min {
  top: -8px;
  left: -9px;
}

.toggle-max {
  top: -8px;
  right: -9px;
}

.range-wrapper-inputs {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 15px;
  margin-left: -13px;
}

.catalog-filter-label {
  display: flex;
  font-family: inherit;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.catalog-filter-label:focus-within {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.range-input {
  padding: 0;
  margin: 0;
  width: 70px;
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.3);;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-input:focus-visible {
  outline: none;
}

.filter-color {
  display: grid;
  gap: 17px;
}

.filter-bluetooth {
  display: grid;
  gap: 20px;
}

.control {
  padding: 0 36px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  position: relative;
}

.control-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #cccccc;
  border-radius: 3px;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="checkbox"]:checked + .control-mark {
  border: 2px solid #000000;
  background-image: url("../images/logo/checkbox-selected-icon.svg");
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: 50%;
}

.control-input[type="radio"]:checked + .control-mark {
  border: 2px solid #000000;
}

.control-input[type="radio"]:checked + .control-mark::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  background-color: #000000;
  border-radius: 50%;
}

.control-input:focus-visible + .control-mark::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 20px;
  height: 20px;
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.control-input:disabled + .control-mark,
.control-input:disabled + .control-label {
  opacity: 0.1;
}

.button-show {
  justify-content: center;
}

.catalog-right-side {
  width: 840px;
}

.sorting-mode {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 20px 40px;
}

.catalog-sorting-text {
  line-height: 30px;
}

.select-control {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  margin: 0;
  min-width: 141px;
  height: 30px;
  font-family: inherit;
  font-size: 18px;
  appearance: none;
  cursor: pointer;
  background-image: url("..//images/logo/select-control.svg");
  background-repeat: no-repeat;
  background-position: 121px center;
  background-size: 9px 6px;
}

.arrow-up-down {
  padding: 0;
  display: inline-flex;
}

.arrow-up,
.arrow-down {
  position: relative;
  display: inline-flex;
  width: 30px;
  height: 30px;
}

.arrow-up::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../images/logo/arrow-up-icon.svg");
  background-repeat: no-repeat;
  width: 11px;
  height: 10px;
  opacity: 0.2;
  transition: 0.05s ease;
}

.arrow-down::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(180deg) ;
  background-image: url("../images/logo/arrow-up-icon.svg");
  background-repeat: no-repeat;
  width: 11px;
  height: 10px;
  opacity: 0.2;
  transition: 0.05s ease;
}

.arrow-up:hover::before,
.arrow-down:hover::before {
  opacity: 0.5;
}

.arrow-up:active::before,
.arrow-down:active::before {
  opacity: 1;
}

.white-background {
  display: grid;
  grid-gap: 44px;
  background-color: #ffffff;
  padding: 70px 40px 78px 40px;
}

.product-list {
  display: grid;
  gap: 44px 40px;
  grid-template-columns: 1fr 1fr;
  margin: 0;
}

.product-card {
  position: relative;
}

.product-card-link {
  display: grid;
  grid-gap: 32px 55px;
  grid-template-columns: auto auto;
  text-decoration: none;
  cursor: pointer;
}

.product-card-details {
  position: absolute;
  display: none;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  z-index: 3;
  top: 180px;
  left: 107px;
}

.product-card-details::before {
  content: "";
  position: absolute;
  width: 220px;
  height: 8px;
  background-color: #ffe17f;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.product-card-link:hover .product-card-details,
.product-card-link:active .product-card-details {
  display: block;
}

.product-card-link:active .product-card-details::before {
  background-color: #ffc700;
}

.product-card-image {
  grid-column: 1 / -1;
}

.product-card-link:hover .product-card-image,
.product-card-link:active .product-card-image {
  position: relative;
}

.product-card-link:hover::after,
.product-card-link:active::after {
  content: "";
  position: absolute;
  width: 360px;
  height: 380px;
  background-color: rgba(240, 240, 240, 0.8);
  top: 0;
  left: 0;
  z-index: 1;
}

.product-card-link:hover .product-card-title {
  opacity: 0.6;
}
.product-card-link.new-label:hover .product-card-price {
  opacity: 0.6;
}

.product-card-link:active .product-card-title,
.product-card-link:active .product-card-price {
  opacity: 0.3;
}

.product-card-link.new-label:hover::before {
  opacity: 0.6;
}

.product-card-link.new-label:active::before {
  opacity: 0.6;
}

.product-card-link.new-label:active .product-card-title,
.product-card-link.new-label:active .product-card-price {
  opacity: 0.6;
}

.product-card-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.product-card-price {
  display: inline-flex;
  justify-content: flex-end;
  min-width: 85px;
  font-size: 18px;
  line-height: 21px;
  color: #444444;
}

.new-label {
  position: relative;
}

.new-label::before {
  position: absolute;
  content: "New";
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.6);
  left: 273px;
  top: 27px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
  width: 60px;
  height: 60px;
  z-index: 1;
}

.pagination-show-more {
  margin: 0;
  width: 100%;
  padding: 15px 36px;
  border: 3px solid #e5e5e5;
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  background-color: rgba(255, 255, 255, 0);
  transition: 0.1s ease;
}

.pagination-show-more:hover {
  border-color: #000000;
}

.pagination-show-more:active {
  border-color: #000000;
  opacity: 0.3;
}

.pagination-show-more:disabled {
  opacity: 0.3;
}

.pagination {
  background-color: #ebebeb;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

.pagination-prev,
.pagination-next {
  margin: 0;
  padding: 25px;
  max-width: 250px;
  line-height: 21px;
  color: #000000;
  transition: 0.05s ease;
}

.pagination-prev {
  grid-column: 1 / 2;
}

.pagination-next {
  grid-column: 3 / -1;
  justify-self: end;
}

.pagination-active {
  color: rgba(68, 68, 68, 0.3);
}

.pagination-prev:hover,
.pagination-next:hover {
  background-color: rgb(220, 220, 220);
}

.pagination-prev:active,
.pagination-next:active {
  background-color: #dcdcdc;
  color: rgba(0, 0, 0, 0.3);
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  justify-self: center;
}

.pagination-item {
  min-width: 40px;
  max-width: 60px;
  text-align: center;
}

.pagination-link,
.pagination-divider {
  margin: 0;
  padding: 10px;
  display: block;
  width: 100%;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  opacity: 0.3;
  transition: 0.05s ease;
}

.pagination-current {
  color: #444444;
  opacity: 0.6;
}

.pagination-link:hover {
  opacity: 1;
}

.pagination-link:active {
  opacity: 0.1;
}

.hidden-item {
  display: none;
}

/* footer */
.page-footer {
  background-color: #444444;
  padding: 62px 0 60px 0;
}

.footer-text-section {
  display: grid;
  margin: 0;
  padding: 0;
  gap: 51px 50px;
  grid-template-columns: 250px auto 250px;
}

.footer-logo-link {
  display: inline-flex;
  margin: 0 0 35px 1px;
}

.footer-navigation {
  justify-self: center;
}

.footer-contacts-address {
  position: relative;
  margin: 0 0 45px 0;
  padding: 0;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  grid-row: 1 / 3;
  grid-column: 1 / 2;
}

.footer-contacts-address::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 7px;
  bottom: -26px;
  left: 0;
  background-color: #ffc700;
}

.footer-navigation-list {
  display: grid;
  gap: 0 25px;
  grid-template-columns: auto auto auto;
}

.footer-navigation-item {
  padding: 4px 5px 7px 5px;
}

.footer-navigation-link {
  line-height: 21px;
  color: #ffffff;
}

.white-text-effects:hover {
  color: #ffc700;
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 2px;
}

.white-text-effects:active {
  color: #ffc700;
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 2px;
  opacity: 0.3;
}

.phone {
  display: inline-flex;
  padding: 7px 0 7px 5px;
  justify-self: right;
}

.footer-phone {
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: underline;
}

.footer-phone:hover {
  color: #ffc700;
}

.footer-phone:active {
  color: #ffc700;
  opacity: 0.3;
}

.footer-social-list {
  justify-self: center;
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 0 5px;
  margin: 0;
  justify-content: center;
}

.footer-social-item {
  padding: 4px 5px 1px 5px;
  margin: 0 5px 0 0;
}

.social-link {
  position: relative;
  display: inline-flex;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.social-link::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
}

.social-link.telegram::before {
  background-image: url("../images/logo/telegram.svg");
  background-repeat: no-repeat;
}

.social-link.youtube::before {
  background-image: url("../images/logo/youtube.svg");
  background-repeat: no-repeat;
}

.social-link.twitter::before {
  background-image: url("../images/logo/twitter.svg");
  background-repeat: no-repeat;
}

.social-link:hover,
.social-link:active {
  background-color: #ffc700;
}

.social-link:active::before {
  opacity: 0.3;
}

.social-link:focus-visible {
  outline: none;
}

.social-link:focus-visible::before {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.htmlacademy-link {
  display: inline-flex;
  justify-self: right;
  padding: 5px 0 5px 5px;
  font-size: 0;
}

.footer-icon {
  fill: #ffc700;
}

.htmlacademy-link:hover .footer-icon {
  fill: #ffffff;
}

.htmlacademy-link:active .footer-icon {
  fill: #ffffff;
  opacity: 0.3;
}

.htmlacademy-link:focus-visible {
  outline: none;
}

.htmlacademy-link:focus-visible .footer-icon {
  outline: 1px solid #af4fff;
  outline-offset: 1px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.9);
  z-index: 6;
}

.modal-container-close {
  display: none;
}

.modal-delivery {
  position: relative;
  margin: auto;
  padding: 62px 70px;
  background-color: #ffffff;
  border: 10px solid #000000;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
  width: 920px;
}

.modal-close-button {
  position: absolute;
  top: 62px;
  right: 70px;
  padding: 12px 0 12px 12px;
  width: 38px;
  height: 50px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  background-image: url("../images/logo/close.svg");
  background-size: 26px;
  background-position: right center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.modal-close-button:focus-visible {
  outline: none;
}

.modal-close-button:focus-visible::before {
  content: "";
  position: absolute;
  height: 34px;
  width: 34px;
  top: 50%;
  right: -4px;
  transform: translateY(-50%);
  border: 2px solid #af4fff;
}

.delivery-form {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 360px auto 180px;
  grid-gap: 40px 42px;
  align-items: start;
  font-family: inherit;
}

.modal-title {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
  grid-column: 1 / -1;
}

.modal-input {
  padding: 20px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  border: none;
  background-color: #f2f2f2;
}

.modal-input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.modal-input:hover {
  background-color: #dcdcdc;
}

.modal-input:disabled {
  opacity: 0.3;
}

.delivery-label {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  display: grid;
  grid-gap: 14px;
  position: relative;
}

.label-name,
.label-email {
  margin-bottom: 20px;
}

.label-email {
  grid-column: 2 / -1;
}

.label-product {
  grid-column: 1 / 3;
}

.field-name {
  background-image: url("../images/logo/form-name-icon.svg");
  background-repeat: no-repeat;
  background-position: 325px center;
  background-size: 15px 12px;
}

.field-email {
  background-image: url("../images/logo/message.svg");
  background-repeat: no-repeat;
  background-position: 325px center;
  background-size: 15px 12px;
}

.email-error .field-email {
  border: 2px solid #ff3d3d;
  padding: 18px;
}

.email-error::before {
  content: "Забавный у вас адрес";
  position: absolute;
  bottom: -20px;
  left: 0;
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #ff3d3d;
}

.tooltip {
  margin: -3px 0 -3px 10px;
  width: 26px;
  height: 26px;
}

.tooltip-toggle {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.tooltip-text {
  position: absolute;
  z-index: 1;
  left: -19px;
  top: calc(100% + 13px);
  padding: 19px;
  display: none;
  width: 200px;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  background-color: #000000;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
}

.tooltip-text::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 147px;
  width: 14px;
  height: 6px;
  margin: 0 auto;
  background-image: url("../images/logo/tooltip-arrow.svg");
}

.tooltip-toggle:focus {
  outline: none;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.quantity {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.field-quantity {
  width: 180px;
  height: 60px;
  text-align: center;
}

.quantity-minus,
.quantity-plus {
  position: absolute;
  height: 60px;
  width: 60px;
  padding: 0;
  text-align: center;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  bottom: 0;
}

.quantity-minus {
  left: 0;
}

.quantity-plus {
  right: 0;
}

.quantity-minus::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 16px;
  height: 2px;
  background-color: #000000;
}

.quantity-plus::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 50%;
  width: 16px;
  height: 2px;
  background-color: #000000;
  transform: translate(50%, -50%) rotate(90deg);
}

.quantity-plus::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 50%;
  width: 16px;
  height: 2px;
  background-color: #000000;
  transform: translate(50%, -50%);
}

.quantity-minus:hover,
.quantity-plus:hover {
  background-color: #dcdcdc;
}

.field-quantity:focus-visible,
.quantity-minus:focus-visible,
.quantity-plus:focus-visible {
  outline: 2px solid #af4fff;
}

.quantity-minus:disabled,
.quantity-plus:disabled {
  opacity: 0.3;
}

.field-quantity:invalid {
  outline: 2px solid #ff3d3d;
}

.delivery-label input[type="number"]::-webkit-outer-spin-button,
.delivery-label input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

.delivery-submit {
  justify-content: center;
  width: 200px;
}
